{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<section id="hero">
    <nav class="navbar navbar-expand-md bg-body navbar-dark" data-bs-theme="dark"
        style="opacity: 0.58;margin-top: -8px;margin-bottom: 10px;padding-bottom: 6px;">
        <div class="container"><a class="navbar-brand" href="#">CWP</a><button data-bs-toggle="collapse"
                data-bs-target="#navcol-1" class="navbar-toggler"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row" style="margin-top: 121px;padding-bottom: 0px;margin-bottom: -20px;padding-top: 0px;">
            <div class="col text-center" style="opacity: 0.75;"><img class="rounded-circle" style="margin-top:-70px;"
                    src="{% static '/img/avatar-dhg.png' %}" height="190px"></div>
        </div>
        <h1 class="text-uppercase text-center text-white LandingTitle"
            style="font-family: Aboreto, serif;margin-top: 74px;padding-top: 2px;">Hi there,</h1>
        <h4 class="text-uppercase text-center text-white LandingSubtitle"
            style="font-family: 'Architects Daughter', serif;">
            <div id="typewriter-container" class="intro-heading text-uppercase"><span id="typewriter"></span><span
                    id="cursor">|</span></div>
        </h4>
    </div>
</section>
<div class="container">
    <div>
        <div class="row justify-content-center my-3">
            <div class="col text-center">
                <h3 class="text-decoration-underline" style="font-family: 'Architects Daughter', serif;">FAQ</h3>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10px;margin-bottom: 19px;">
    <div class="accordion" role="tablist" id="accordion-1" style="margin: 0px;">
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true"
                    aria-controls="accordion-1 .item-1">Who am I?</button></h2>
            <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1"
                style="font-family: B612, sans-serif;">
                <div class="accordion-body">
                    <p class="mb-0">My name is Cliave Mwiti, a second year in Kirinyaga University pursuing a degree
                        in Software engineering. I am a self taught photographer with skill and mindset that are
                        unmatched with 3+ years capturing moments and telling stories through my work.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false"
                    aria-controls="accordion-1 .item-2">What makes me special?</button></h2>
            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1"
                style="font-family: B612, sans-serif;">
                <div class="accordion-body">
                    <div class="row justify-content-center">

                        <div class="col text-center">
                            <figure class="snip1527">
                                <div class="image"><img
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample25.jpg"
                                        alt="pr-sample25" /></div>
                                <figcaption>
                                    <div class="date"><span class="day">01</span><span class="month">Dec</span>
                                    </div>
                                    <h3>Down with this sort of thing</h3>
                                    <p>

                                        I don&#39;t need to compromise my principles, because they don&#39;t have
                                        the slightest bearing on what happens to me anyway.
                                    </p>
                                </figcaption><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col text-center">
                            <figure class="snip1527">
                                <div class="image"><img
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg"
                                        alt="pr-sample23" /></div>
                                <figcaption>
                                    <div class="date"><span class="day">28</span><span class="month">Oct</span>
                                    </div>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>

                                        You know what we need, Hobbes? We need an attitude. Yeah, you can&#39;t be
                                        cool if you don&#39;t have an attitude.
                                    </p>
                                </figcaption><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col text-center">
                            <figure class="snip1527">
                                <div class="image"><img
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample25.jpg"
                                        alt="pr-sample25" /></div>
                                <figcaption>
                                    <div class="date"><span class="day">01</span><span class="month">Dec</span>
                                    </div>
                                    <h3>Down with this sort of thing</h3>
                                    <p>

                                        I don&#39;t need to compromise my principles, because they don&#39;t have
                                        the slightest bearing on what happens to me anyway.
                                    </p>
                                </figcaption><a href="#"></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false"
                    aria-controls="accordion-1 .item-3">What is your aim while doing this work?</button></h2>
            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1"
                style="font-family: B612, sans-serif;">
                <div class="accordion-body">
                    <p class="mb-0" style="font-family: B612, sans-serif;">I totally believe that not everything can
                        be captured via the camera but certain moment are too good to let them fly away. My main aim
                        is to capture the perfect moment that lives to tell the tale.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h1 class="text-center">My Skills</h1>
    <p>Flexibility</p>
    <div class="skills-container">
        <div class="skills html"><span>90%</span></div>
    </div>
    <p>CSS</p>
    <div class="skills-container">
        <div class="skills css"><span>80%</span></div>
    </div>
    <p>JavaScript</p>
    <div class="skills-container">
        <div class="skills js"><span>65%</span></div>
    </div>
    <p>PHP</p>
    <div class="skills-container">
        <div class="skills php"><span>60%</span></div>
    </div>
</div>
<section class="my-5 py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <p class="display-5">Testimonials</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="testimon1">
                    <div class="testicon">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                    </div>
                    <div class="testimopic"><img src="assets/img/200x2001.jpg"></div>
                    <div class="testimoin"><span class="name">Lorem Ipsum</span>
                        <div class="posit"><span class="meta">Lor -&nbsp;<a href="#">exemples.com</a></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="testimon1">
                    <div class="testicon">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                    </div>
                    <div class="testimopic"><img src="assets/img/200x2002.jpg"></div>
                    <div class="testimoin"><span class="name">Lorem Ipsum</span>
                        <div class="posit"><span class="meta">Lor -&nbsp;<a href="#">exemples.com</a></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="testimon1">
                    <div class="testicon">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                    </div>
                    <div class="testimopic"><img src="assets/img/200x2004.jpg"></div>
                    <div class="testimoin"><span class="name">Lorem Ipsum</span>
                        <div class="posit"><span class="meta">Lor -&nbsp;<a href="#">exemples.com</a></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="testimon1">
                    <div class="testicon">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                    </div>
                    <div class="testimopic"><img src="assets/img/200x2003.jpg"></div>
                    <div class="testimoin"><span class="name">Lorem Ipsum</span>
                        <div class="posit"><span class="meta">Lor -&nbsp;<a href="#">exemples.com</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footerpad">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-whatsapp fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <p class="copyright text-muted text-center">Copyright © Cliave Productions 2024 | Photographer</p>
            </div>
        </div>
    </div>
</footer>

{% endblock content %}